<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.networkdisk.storage.dao.UploadMapper">

    <insert id="insert" parameterType="com.dy.networkdisk.storage.po.UploadPO">
        insert into upload(id, file, chunk, sequence, uploader, uploadTime) 
        values (#{id},#{file},#{chunk},#{sequence},#{uploader},#{uploadTime});
    </insert>

    <select id="selectChunkIDList" parameterType="long" resultType="long">
        select chunk
        from upload
        where file = #{id}
        order by sequence;
    </select>

</mapper>