<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="'登录-' + ${title}">登录-青叶网盘</title>
    <link rel="stylesheet"
          type="text/css"
          href="../static/style/common_style.css"
          th:href="'/style/common_style.css'"/>
    <link rel="stylesheet"
          type="text/css"
          href="../static/style/login_style.css"
          th:href="'/style/login_style.css'"/>
    <link rel="stylesheet"
          type="text/css"
          href="../static/easyui/themes/default/easyui.css"
          th:href="'/easyui/themes/default/easyui.css'"/>
    <script type="text/javascript"
            src="../static/js/jquery-3.4.1.min.js"
            th:src="'/js/jquery-3.4.1.min.js'">
    </script>
    <script type="text/javascript"
            src="../static/easyui/jquery.easyui.min.js"
            th:src="'/easyui/jquery.easyui.min.js'">
    </script>
    <script type="text/javascript"
            src="../static/easyui/locale/easyui-lang-zh_CN.js"
            th:src="'/easyui/locale/easyui-lang-zh_CN.js'">
    </script>
    <script type="text/javascript"
            src="../static/js/login.js"
            th:src="'/js/login.js'" >
    </script>
</head>
<body>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <h1 class="title-big" th:text="${title}">青叶网盘</h1>
    <div class="login-box">
        <div class="easyui-panel">
            <header class="login-box-header">登录</header>
            <form id="login-form" action="/user/login" method="post">
                <table class="login-box-table">
                    <tr>
                        <td>
                            <input id="input-email" class="input-long" maxlength="20"/>
                        </td>
                        <td>
                            <!--/*@thymesVar id="allow_register" type="java.lang.Boolean"*/-->
                            <a class="help-link" href="/user/register" th:if="${allow_register}">
                                <img id="create-account-btn"
                                     class="help-icon"
                                     src="../static/image/help.png"
                                     alt="注册新用户"
                                     th:src="'/image/help.png'"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="input-password" class="input-long" maxlength="20"/>
                        </td>
                        <td>
                            <a class="help-link" href="#">
                                <img id="forget-password-btn"
                                     class="help-icon"
                                     src="../static/image/help.png"
                                     alt="找回密码"
                                     th:src="'/image/help.png'"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="input-verification" class="input-short" maxlength="20"/>
                            <img id="vc-img"
                                 class="vc-img"
                                 src="../static/image/vc.tmp.jpeg"
                                 alt="验证码"
                                 th:src="'/verification?'"/>
                        </td>
                        <td>
                            <a class="help-link" href="javascript:void(0)">
                                <img id="change-vc-btn"
                                     class="help-icon"
                                     src="../static/image/help.png"
                                     alt="换一张"
                                     th:src="'/image/help.png'"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div>
                                <input id="input-auto-login"/>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="login-btn-box">
                    <a id="login-btn" href="javascript:void(0)" style="width: 250px"></a>
                </div>
            </form>
        </div>
    </div>
    <!--/*@thymesVar id="result" type="java.lang.String"*/-->
    <script type="text/javascript" th:if="${result} != null" th:inline="javascript">
        $.messager.alert('[[${result_title}]]','[[${result}]]','[[${result_type}]]')
    </script>
</body>
</html>