<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="'提示-' + ${title}">提示-青叶网盘</title>
    <link rel="stylesheet"
          type="text/css"
          href="../static/style/common_style.css"
          th:href="'/style/common_style.css'"/>
    <link rel="stylesheet"
          type="text/css"
          href="../static/style/message_style.css"
          th:href="'/style/message_style.css'">
    <link rel="stylesheet"
          type="text/css"
          href="../static/easyui/themes/default/easyui.css"
          th:href="'/easyui/themes/default/easyui.css'"/>
    <script type="text/javascript"
            src="../static/js/jquery-3.4.1.min.js"
            th:src="'/js/jquery-3.4.1.min.js'">
    </script>
    <script type="text/javascript"
            src="../static/easyui/jquery.easyui.min.js"
            th:src="'/easyui/jquery.easyui.min.js'">
    </script>
    <script type="text/javascript"
            src="../static/easyui/locale/easyui-lang-zh_CN.js"
            th:src="'/easyui/locale/easyui-lang-zh_CN.js'">
    </script>
    <script type="text/javascript" th:if="${message.jump != null}">
        $(function () {
            let expire = 10;
            setInterval(function () {
                if (expire > 0){
                    expire--;
                    $("#jump-expire").text(expire);
                }
                else {
                    window.location.href = '[[${message.jump.url}]]'
                }
            },1000);
        });
    </script>
</head>
<body class="with-bg">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <h1 class="title-big" th:text="${title}">青叶网盘</h1>
    <div class="message-box">
        <div class="easyui-panel" style="text-align: center">
            <header class="message-box-header" th:text="${message.title}">提示</header>
            <div class="message-inner-box" th:each="str:${message.content}">
                <p style="text-indent: 2em" th:text="${str}">内容</p>
            </div>
            <p th:if="${message.jump != null}">
                <span id="jump-expire">10</span>秒后跳转至<a href="#" th:text="${message.jump.name}" th:href="${message.jump.url}">目标</a>
            </p>
        </div>
    </div>
</body>
</html>