<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="'注册-' + ${title}">注册-青叶网盘</title>
    <link rel="stylesheet"
          type="text/css"
          href="../static/style/common_style.css"
          th:href="'/style/common_style.css'"/>
    <link rel="stylesheet"
          type="text/css"
          href="../static/style/register_style.css"
          th:href="'/style/register_style.css'"/>
    <link rel="stylesheet"
          type="text/css"
          href="../static/easyui/themes/default/easyui.css"
          th:href="'/easyui/themes/default/easyui.css'"/>
    <script type="text/javascript"
            src="../static/js/jquery-3.4.1.min.js"
            th:src="'/js/jquery-3.4.1.min.js'" >
    </script>
    <script type="text/javascript"
            src="../static/easyui/jquery.easyui.min.js"
            th:src="'/easyui/jquery.easyui.min.js'">
    </script>
    <script type="text/javascript"
            src="../static/easyui/locale/easyui-lang-zh_CN.js"
            th:src="'/easyui/locale/easyui-lang-zh_CN.js'">
    </script>
    <script type="text/javascript"
            src="../static/js/register.js"
            th:src="'/js/register.js'" >
    </script>
</head>
<body>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <h1 class="title-big" th:text="${title}">青叶网盘</h1>
    <div class="register_box">
        <div class="easyui-panel">
            <header class="register-box-header">注册</header>
            <form id="register-form" action="/user/register" method="post">
                <table class="register-box-table">
                    <tr>
                        <td>
                            <input id="input-username"
                                   class="input-long"
                                   name="username"
                                   th:value="${info!=null?info.username:''}"/>
                        </td>
                        <td>
                            <a class="help-link" href="/user/login">
                                <img id="login-account-btn"
                                     class="help-icon"
                                     src="../static/image/help.png"
                                     alt="登录已有账户"
                                     th:src="'/image/help.png'"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="input-password"
                                   class="input-long"
                                   name="password"
                                   th:value="${info!=null?info.password:''}"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="input-email-box">
                            <input id="input-email"
                                   class="input-long"
                                   name="email"
                                   th:value="${info!=null?info.email:''}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="input-verification" class="input-short" maxlength="20"/>
                            <img id="vc-img"
                                 class="vc-img"
                                 src="../static/image/vc.tmp.jpeg"
                                 alt="验证码"
                                 th:src="'/verification?'"/>
                        </td>
                        <td>
                            <a class="help-link" href="javascript:void(0)">
                                <img id="change-vc-btn"
                                     class="help-icon"
                                     src="../static/image/help.png"
                                     alt="换一张"
                                     th:src="'/image/help.png'"/>
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="register-btn-box">
                    <a id="register-btn" href="javascript:void(0)" style="width: 250px"></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>