<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.networkdisk.user.dao.UserMapper">
    <select id="init" resultType="java.lang.Integer">
        select 1;
    </select>

    <insert id="register" parameterType="com.dy.networkdisk.user.po.UserPO">
        insert into 
        user(
        id, email, nickname, password, type, inviterID, registerTime, registerIP, registerIPLocation,
        activeTime, activeIP, activeIPLocation, status
        )
        value (
        #{id},#{email},#{nickname},#{password},#{type},#{inviterID},#{registerTime},#{registerIP},#{registerIPLocation},
        #{activeTime},#{activeIP},#{activeIPLocation},#{status}
        )
    </insert>
    <select id="login" parameterType="string" resultType="com.dy.networkdisk.user.po.UserPO">
        select id,email,nickname,password,type from user where email = #{email} and status = 0;
    </select>

    <select id="checkEmailExist" parameterType="string" resultType="int">
        select count(1) from user where email = #{email} and status = 0;
    </select>

    <select id="findTypeByEmail" parameterType="string" resultType="string">
        select type from user where email = #{email} and status = 0;
    </select>
</mapper>