body{
    background: url("../image/bg.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}
@font-face {
    font-family: "BoLuoJiang";
    src: url("../font/title_font.ttf") format("truetype");
}
a{color: black}
a:hover{color: black}
a:visited{color: black}

.title-big{
    text-align: center;
    font-size: 40px;
    font-family: BoLuoJiang, monospace;
    margin-top: 50px;
}

.vc-img{
    width: 100px;
    height: 30px;
    margin: -10px 5px;
}