.register_box{
    margin: 0 auto;
    width: 600px;
}
.register-box-header{
    text-align: center;
    font-weight: bold;
}
.register-box-table{
    margin: 15px auto 10px;
}

.input-long{
    width: 210px;
}
.input-short{
    width: 100px;
}

.help-link{
    margin: 0 5px;
}
.help-icon{
    width: 25px;
    height: 25px;
}

.register-btn-box{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}