<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>激活您的网盘账户</title>
    <style type="text/css">
    </style>
</head>
<body>
    <p>亲爱的<u>
    <i th:text="${user.nickname}">用户</i></u>:</p>
    <p style="text-indent: 2em">
        感谢您注册青叶网盘，您的注册信息如下：
    </p>
    <ul style="padding-left: 4em">
        <li>注册邮箱：
            <b th:text="${user.email}">
                test@QYDisk.com
            </b>
        </li>
        <li>
            昵称：
            <b th:text="${user.nickname}">
                用户
            </b>
        </li>
        <li>
            用户类型：
            <b>
                普通用户
            </b>
        </li>
        <li>注册时间：
            <b th:text="${#dates.format(user.registerTime,'yyyy年MM月dd日 HH时mm分')}">
                2020年02月04日 00时00分
            </b>
        </li>
        <li>
            注册IP：
            <b th:text="${user.registerIP}">
                未知
            </b>
        </li>
        <li>
            注册地点：
            <b th:text="${user.registerIPLocation}">
                未知
            </b>
        </li>
    </ul>
    <p style="text-indent: 2em">
        为了方便您使用和密码找回，请点击下方链接激活您的账户。
    </p>
    <p style="text-indent: 2em">
        如果该账户不是您注册的，请勿点击激活，以免给您造成不必要的损失。
    </p>
    <p style="text-indent: 2em">
        希望您在青叶网盘的使用过程中有一个愉快的体验。
    </p>
    <a th:href="${user.activeURL} + '?email=' + ${user.email} + '&lock=' + ${user.lock}">
        激活账户
    </a>
    <div style="float: right;text-align: center">
        <i>青叶网盘</i>
        <p style="margin: 0 auto" th:text="${#dates.format(create_time,'yyyy年MM月dd日')}">2020年02月04日<p>
    </div>
</body>
</html>